.wishlist{
    height: 100%;
    overflow: auto;
    padding-inline-end: 10px;
    .list-container{
        display: flex;
        flex-grow: 1;
        flex-flow: column;
        &>*{
            display: flex;
            // justify-content: space-between;
            align-items: center;
            button{
                border-radius: 50%;
                min-height:48px;
                min-width:48px;
            }
        }
        &>*:not(:last-child){
            outline: none;
            margin-block-end: 8px;
        }
    }
}